:root {
  --nav-height: 4em;
  --color: hsl(0, 0%, 10%);
  --max-container-width: 1920px;
  --body-background-color: rgb(63, 64, 64);
  --landing-bg-color: hsl(180, 0%, 42%);
  --landing-font-color: color: hsl(0, 0%, 90%);
  /* --bridge-color: hsl(4, 85%, 57%); */
  /* --bridge-color: hsl(3, 84%, 80%); */
  --bridge-color: rgba(247, 165, 161, 0.5);
  --container-width: 100%;
  --nav-font-size: 1.2cqw;
  --min-font-size: 1rem;
  --container-padding: 4vw;
  --article-padding-tb: 2cqw;
  --article-padding-lr: 0cqw;
}
body {
  font:
    16px Roboto,
    Arial,
    sans-serif;
  color: var(--color);
  margin: 0;
  padding: 0;
  background-color: var(--body-background-color);
}
.screen-reader,
.screen-reader * {
  margin: 0;
  padding: 0;
  font-size: 0;
}
/*
  Design the layout for full screen 1080p resolution: 1920 x 1080
*/
.my-container {
  width: var(--container-width);
  max-width: var(--max-container-width);
  margin: 0 auto;
  container-type: inline-size;
  padding: 0 var(--container-padding);
  box-sizing: border-box;
}
.landing .my-container {
  background-color: var(--landing-bg-color);
}
body.test {
  width: 1920px;
  height: 1080px;
  margin: 0 auto;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  overflow: scroll;
}
nav {
  height: var(--nav-height);
  font-size: clamp(
    var(--min-font-size),
    var(--nav-font-size),
    var(--nav-font-size)
  );
}
.navbar-brand {
  font-size: clamp(
    var(--min-font-size),
    var(--nav-font-size),
    var(--nav-font-size)
  );
}
.navbar-collapse {
  justify-content: space-between;
}
nav li {
  padding: 0 0.5rem;
}
.my-container {
  max-width: var(--max-container-width);
  padding: 0 var(--container-padding);
}
.screen-reader {
  margin: 0;
  padding: 0;
  font-size: 0;
}
.landing header.hero {
  position: relative;
  display: flex;
  margin: 0 auto;
  margin-top: var(--nav-height);
  background-color: rgba(140, 48, 48, 0);
  /* this is the natural size of the image */
  /* aspect-ratio: 1280 / 700; */
  /* trim the image vertically */
  aspect-ratio: 1280 / 400;
  font-family: "BBH Sans Bogle", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.landing header.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("bridgeday.jpeg");
  background-size: cover;
  background-position: center;
  z-index: -1;
}
.landing h1 {
  margin-top: 8%;
  margin-left: 8%;
  font-family: "BBH Sans Bogle", sans-serif;
  font-weight: 600;
  font-size: 5cqw;
  letter-spacing: 2px;
  text-shadow:
    -2px -2px 2px white,
    2px -2px 2px white,
    -2px 2px 2px white,
    2px 2px 2px white;
  animation: slideIn 2s ease-out forwards;
}
@keyframes slideIn {
  0% {
    margin-top: -6rem;
    margin-left: 40%;
    font-size: 2cqw;
  }
  50% {
    margin-top: 6%;
    margin-left: 40%;
    font-size: 3cqw;
  }
  100% {
    margin-top: 6%;
    margin-left: 8%;
    font-size: 5cqw;
  }
}
.landing figure {
  position: absolute;
  display: block;
  /* top: 12%; */
  /* left: 50%; */
  /* width: 52%; */
  top: 12%;
  left: 50%;
  width: 44cqw;
}
.video-container {
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 1;
  top: 7%;
  left: 23%;
  width: 48%;
  height: 39%;
  background-color: black;
  background-image: url("dev-mission.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("static.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 1s;
  transition-timing-function: linear;
}
.overlay.active {
  opacity: 1;
}
video {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 3s;
  transition-timing-function: ease-in-out;
  z-index: 2;
}
video.active {
  opacity: 1;
}
.landing header figure {
  cursor: pointer;
}
.landing header img {
  position: relative;
  width: 100%;
  height: auto;
  object-fit: cover;
  z-index: 2;
}
.landing header a,
.landing header button {
  display: inline;
  position: absolute;
  top: 50%;
  left: 25%;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 2.5cqw;
  color: black;
  width: fit-content;
  padding: 0.6em 1.2em;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.5);
  text-decoration: none;
  transition: background-color 0.3s ease;
}
.landing header a:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
.landing article {
  font-size: 2cqw;
  font-weight: 300;
  font-style: normal;
  color: var(--landing-font-color);
  /* letter-spacing: 1px; */
  padding: var(--article-padding-tb) var(--article-padding-lr);
}
.welcome header {
  font-family: "BBH Sans Bogle", sans-serif;
  padding: 0.5em 0;
  text-shadow:
    -1px -1px 1px rgba(255, 255, 255, 0.5),
    1px 1px 1px rgba(255, 255, 255, 0.5);
  text-shadow:
    -1px -1px 1px var(--bridge-color),
    1px 1px 1px var(--bridge-color);
}
.welcome h2 {
  font-size: 2em;
  text-shadow: inherit;
}
.welcome h3 {
  font-size: 1.6em;
  text-shadow: inherit;
  margin-left: 2em;
}
.welcome p {
  font-size: 1em;
  color: white;
  text-shadow:
    1px 1px 1px black,
    -1px -1px 1px black;
  line-height: 1.5;
  margin-bottom: 1em;
}
.landing-gif img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
/*-------------------------------------------------------------*/
.marquee {
  font-family: "Science Gothic", sans-serif;
  font-size: 75px;
  font-style: normal;
  /* font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "CTRS" 0; */
  z-index: 2;
}

/* card styling */
.my-card {
  border: 1px solid rgba(70, 67, 67, 0.15) !important;
  width: 90%;

  border-radius: 0%;
  overflow: hidden;
  background-color: #282727 !important;
  margin-bottom: 1.5rem;
  position: relative;
}
.card-img-overlay {
  z-index: 6;
}

.card-mini {
  margin-top: 6rem;
  width: 100%;
  height: 150px;
  background-color: rgb(59, 59, 59);
}

.button {
  margin-left: 15rem;
  padding: 10px 20px;
  font-size: 30px;
  width: 300px;
  height: 100px;
  background-color: rgba(200, 200, 200, 0.717);
  border-radius: 25%;
  border-color: #282727;
}

.meep {
  text-align: left;
  margin: 2rem;
  padding: 10px 10px 5px;
  left: 4rem;
  font-size: 35px;
  font-family: "BBH Sans Bogle", sans-serif;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 1px;
}

/*-------------------------------------------------------------*/
/*                      Directory CSS                          */
/*-------------------------------------------------------------*/

body.directory {
  background-color: black;
}
.hide {
  display: none;
}
.directory .my-container {
  width: 100%;
  max-width: 100%;
  padding: 0;
}
.directory nav {
  padding: 0 5rem;
}
.directory header {
  margin-top: 5rem;
  color: white;
}
.directory h3 {
  margin-top: 1rem;
  color: white;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
}
.directory hr {
  margin: 2rem 0;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border: 1px inset white;
}
.students-container,
.teachers-container {
  margin-left: 40px;
  margin-right: 40px;
  padding: 20px;
  padding-right: 0;
}

.students-container {
  background-color: rgba(24, 21, 21, 0.902);
  padding-bottom: 2rem;
}
.students-name-tag {
  -ms-overflow-style: none; /* Internet Explorer and Edge */
  scrollbar-width: none; /* Firefox */
  overflow: auto; /* Ensures scrolling is still possible if content overflows */
}

.students-name-tag::-webkit-scrollbar {
  display: none;
}

.students-container h1,
.teachers-container h1 {
  color: white;
}

.students-name-tag {
  display: flex;
  flex-wrap: nowrap;
  gap: 100px;
  overflow-x: auto;
  padding-bottom: 10px;
  scroll-behavior: smooth;
}

.student-name-tag {
  position: relative;
  width: 300px;
}

.name-tag {
  width: 330px;
  position: relative;
}

.student-info {
  position: absolute;
  bottom: 5%;
  left: 15%;
  font:
    16px Arial,
    sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  word-wrap: break-word;
}

.headshot {
  width: 150px;
  margin-bottom: 10px;
  border-radius: 20%;
}

.highlight {
  max-width: 240px;
  text-align: center;
}

.open-to-badge {
  border-radius: 50px;
  padding: 7px;
  margin-bottom: 10px;
  background-color: blue;
  color: white;
}
.linkedin {
  display: flex;
  justify-content: center;
  align-items: center;
}

.linkedin h5 {
  margin-bottom: 0;
  font-weight: 700;
}

.linkedin img {
  width: 30px;
}

.teachers-container {
  background-color: black;
}

.teacher-headshot {
  width: 200px;
}

.teacher-name-tag {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 250px;

  border: 1px solid white;
  border-radius: 10px;
  background-color: white;
  padding: 10px;
}

.teacher-info {
  max-width: 200px;
  text-align: center;
}

.directory-headers h1 {
  font-family: "BBH Sans Bogle", sans-serif;
}

.name,
.teacher-name {
  font-family: "Roboto", sans-serif;
}

/*-------------------------------------------------------------*/
/*                      Projects CSS                          */
/*-------------------------------------------------------------*/

body.projects {
  margin-bottom: 50vh;
}
.projects h3 {
  margin-top: 5rem;
  color: white;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
}
.projects article {
  display: flex;
}
.card-mini-m {
  margin-top: 1rem;
  width: 90%;
  /* height: 600px; */
  background-color: rgb(187, 187, 187);
  flex-grow: 1;
}
